<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ryan.bottomnavigation">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".admin.Bahans.TambahBahanActivity" />
        <activity android:name=".admin.Bahans.EditBahanActivity" />
        <activity android:name=".admin.Regist.TambahUserActivity" />
        <activity android:name=".admin.MainActivity" />
        <activity
            android:name=".Mitra.MitraActivity"
            android:label="@string/title_activity_mitra"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".AdminActivity"
            android:label="@string/title_activity_admin"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>